* {
  color: whitesmoke;
  font-family: "Signika Negative", sans-serif;
}
body {
  background-color: black;
}
#root {
  width: 100%;
  height: 100%;
  margin: auto;
}
#head {
  text-align: center;
  display: block;
  color: yellow;
  margin-top: 3vh;
}
#inps {
  margin-top: 3vh;
}

#content {
  margin: 0 auto;
  border: 2px solid violet;
  min-height: 30em;
}

button,
sub {
  color: black;
}
p > sub {
  color: whitesmoke;
}
#buttons {
  margin: 4% auto;
  justify-items: center;
  width: fit-content;
}

input {
  width: 100%;
  color: black;
}
#btncopy:not(:focus) #svgcopy {
  display: none;
}
#btncopy:focus #svgcopy {
  display: block;
}
#case_desc {
  height: fit-content;
  width: 10em;
  margin: 1em;
  background-color: darkgray;
}
